Source: libcatalyst-authentication-credential-fbconnect-nebraska-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libcatalyst-perl, libmoose-perl,
 libmoosex-types-common-perl, libmoosex-types-perl, libnamespace-autoclean-perl,
 libtest-use-ok-perl, libtest-www-mechanize-catalyst-perl,
 libwww-facebook-api-perl, perl (>= 5.10.0)
Maintainer: ollisg <ollisg@rumble.zigzag.wdlabs.com>
Standards-Version: 3.9.1
Homepage: http://search.cpan.org/dist/Catalyst-Authentication-Credential-FBConnect-Nebraska/

Package: libcatalyst-authentication-credential-fbconnect-nebraska-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, libmoose-perl,
 libmoosex-types-common-perl, libmoosex-types-perl, libnamespace-autoclean-perl,
 libwww-facebook-api-perl
Description: Facebook authentication for Project Nebraska website
 (no description was found)
 .
 This description was automagically extracted from the module by dh-make-perl.
