Source: libnx-nebraska-plugin-adsense-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: perl (>= 5.10.0)
Maintainer: ollisg <ollisg@rumble.zigzag.wdlabs.com>
Standards-Version: 3.9.1
Homepage: http://search.cpan.org/dist/NX-Nebraska-Plugin-AdSense/

Package: libnx-nebraska-plugin-adsense-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, perl (>= 5.10.0)
Description: Provide AdSense ads to Project Nebraska website
 (no description was found)
 .
 This description was automagically extracted from the module by dh-make-perl.
