Source: libnx-nebraska-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7.2.13)
Build-Depends-Indep: libcache-memcached-fast-perl, libcatalyst-modules-perl,
 libcatalyst-perl (>= 5.80022),
 libcatalyst-plugin-unicode-encoding-perl (>= 1.1), libcatalyst-view-tt-perl,
 libconfig-general-perl, libdbd-mysql-perl, libdbd-sqlite3-perl,
 libfile-homedir-perl, libjson-xs-perl, libmoose-perl,
 libnamespace-autoclean-perl, libsql-translator-perl, libtext-csv-xs-perl,
 libscalar-list-utils-perl, libgeo-ip-perl, libdatetime-format-mysql-perl,
 libyaml-perl, perl (>= 5.10.0),
 perl (>= 5.10.1) | libtest-simple-perl (>= 0.88)
Maintainer: root <root@rumble.zigzag.wdlabs.com>
Standards-Version: 3.9.1
Homepage: http://search.cpan.org/dist/NX-Nebraska/

Package: libnx-nebraska-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, libcache-memcached-fast-perl,
 libcatalyst-modules-perl, libcatalyst-perl (>= 5.80022),
 libcatalyst-plugin-unicode-encoding-perl (>= 1.1), libcatalyst-view-tt-perl,
 libconfig-general-perl, libdbd-mysql-perl, libdbd-sqlite3-perl,
 libfile-homedir-perl, libjson-xs-perl, libmoose-perl,
 libnamespace-autoclean-perl, libsql-translator-perl, libtext-csv-xs-perl,
 libscalar-list-utils-perl, libgeo-ip-perl, libdatetime-format-mysql-perl,
 libyaml-perl, perl (>= 5.10.0)
Description: Project Nebraska Website
 (no description was found)
 .
 This description was automagically extracted from the module by dh-make-perl.
