BODY {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

H1 {
  background-image: url("/png/h1.png");
  background-position: center top;
  border: 0 solid #000000;
  border-bottom-width: 2px;
  font-size: 2.25em;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Arial Black', 'Marker Felt', 'Impact';
  font-variant: small-caps;
  font-weight: 300;
  text-decoration: none;
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 0;
  clear: both;
}

H2 {
  margin-bottom: 0;
  margin-top: 15px;
  background-color: #ffffff;
  border: 2px solid #000000;
  color: black;
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  font-family: 'Arial', 'sans-serif';
  font-variant: small-caps;

  /* firefox */
  -moz-border-radius: 1% 1% 1% 1%;
  /* opera */
  border-radius: 1% 1% 1% 1%;
  /* webkit (chrome, safari) */
  -webkit-border-radius: 1% 1% 1% 1%;
}

H4 {
  text-align: right;
  color: black;
  font-size: 1em;
  font-family: 'Arial', 'sans-serif';
  font-variant: small-caps;
}

H6 {
  text-align: right;
  background-image: url("/png/h6.png");
  border: 0 solid #000000;
  border-top-width: 2px;
  font-size: 1em;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Arial Black', 'Marker Felt', 'Impact';
  font-variant: small-caps;
  font-weight: 300;
  text-decoration: none;
  clear: both;
  margin-bottom: 0px;
  padding-right: 4em;
}

DIV#main_icon {
  width: 1000px;
  text-align: left;
/*  border: 1px solid #00ff00;*/
  height: 50px;
}

DIV.ziyal_content {
  padding-left: 10px;
  padding-right: 10px;
}

A IMG {
  border: 0px;
}

DIV#main_icon_container {
  position:absolute;
  top:0px;
  width: 100%;
/*  border: 1px solid #ff0000;*/
}

A {
  text-decoration: none;
}

A:link {
  color: rgb(0%, 80%, 0%);
}
A:visited {
  color: rgb(0%, 80%, 0%);
}

A:hover {
  color: rgb(0%, 100%, 0%);
}

EM {
  color: rgb(100%, 40%, 40%);
}

DIV#main_content {
  /* border: 2px solid #000000; */
  text-align: left;
}

DIV#main_navigation {
  /* border: 2px solid #000000; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

TABLE#compare_table {
  height: 600px;
}

TABLE#compare_table TR TH {
  text-align: center;
}

TD.state_list_cell {
  width: 200px;
  height: 140px;
  font-size: 0.9em;
}

TD.state_list_cell SELECT {
  width: 198px;
}

TD.control_cell {
  width: 200px;
}

TD.control_cell SELECT {
  width: 198px;
}

UL.nav_list li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}


DIV.container {
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid #ff0000; */
  width:1000px;
}

DIV.popup {
  left: 0px;
  top: 0px;
  color: rgb(0%, 0%, 0%);
  font-size: 0.75em;
  margin: 0 0.75em;
  padding: 0.2em;
  width: 260px;
  border: solid 1px black;
  visibility: hidden;
  background-color: rgb(100%, 100%, 100%);
  position: absolute;

  /* firefox */
  -moz-border-radius: 3% 3% 3% 3%;
  /* opera */
  border-radius: 0.5% 0.5% 0.5% 0.5%;
  /* webkit (chrome, safari) */
  -webkit-border-radius: 3% 3% 3% 3%;
}

DIV#flickr_picker_div {
  top: 250px;
  color: rgb(0%, 0%, 0%);
  background-color: rgb(100%, 100%, 100%);
  width: 550px;
  border: solid 1px black;
  visibility: hidden;
  position: absolute;
  margin-left: 180px;
  padding: 25px;
  font-size: 0.80em;
  
  /* firefox */
  -moz-border-radius: 3% 3% 3% 3%;
  /* opera */
  border-radius: 0.5% 0.5% 0.5% 0.5%;
  /* webkit (chrome, safari) */
  -webkit-border-radius: 3% 3% 3% 3%;
}

DIV#disconnect_error_div {
  top: 250px;
  color: rgb(0%, 0%, 0%);
  background-color: rgb(100%, 100%, 100%);
  width: 500px;
  border: solid 1px black;
  position: absolute;
  margin-left: 180px;
  padding: 25px;
  visibility: hidden;

  /* firefox */
  -moz-border-radius: 3% 3% 3% 3%;
  /* opera */
  border-radius: 0.5% 0.5% 0.5% 0.5%;
  /* webkit (chrome, safari) */
  -webkit-border-radius: 3% 3% 3% 3%;
}

DIV#share_div {
  top: 250px;
  color: rgb(0%, 0%, 0%);
  background-color: rgb(100%, 100%, 100%);
  width: 500px;
  border: solid 1px black;
  margin-left: 180px;
  padding: 25px;
  visibility: hidden;
  position: absolute;
  margin-left: 180px;
  padding: 25px;
  
  /* firefox */
  -moz-border-radius: 3% 3% 3% 3%;
  /* opera */
  border-radius: 0.5% 0.5% 0.5% 0.5%;
  /* webkit (chrome, safari) */
  -webkit-border-radius: 3% 3% 3% 3%;
}

DIV#share_div INPUT#share_url, DIV#share_div INPUT#share_url_place {
  width: 100%;
  margin-bottom: 10px;
}

DIV.summary  {
}

DIV.error_message {
  background-color: red;
  color: yellow;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.25em;
  -moz-border-radius: 3% 3% 3% 3%;
  font-family: 'Arial Black', 'Marker Felt', 'Impact';
}

DIV.warning_message {
  background-color: yellow;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  -moz-border-radius: 3% 3% 3% 3%;
}

DIV.user_msg {
  text-align: right;
  font-size: 0.8em;
}

TD#map_cell {
  width: 490px;
  height: 427px;
}

TD#place_cell {
  width: 490px;
}

TEXTAREA.trip_place_textarea {
  width: 480px;
  height: 100px;
}

INPUT.v_control_buttons {
  display: block;
}

IMG#flickr_picture_img {
  margin-left: 5px;
  margin-right: 5px;
}

DIV#youtube_video_div {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
