.main_navigation_menu {
  padding-left: 200px;
  margin:0; 
  list-style:none; 
  height:40px; 
  position:relative; 
  font-family: 'Arial Black', 'Marker Felt', 'Impact';
}

.main_navigation_menu li.main_navigation_top {
  display:block; 
  float:left; 
  position:relative;
  padding-right: 20px;
}

.main_navigation_menu li a.main_navigation_top_link {display:block; float:left; height:40px; line-height:33px; text-decoration:none; font-size: 1.25em; font-weight:bold; padding:0 0 0 12px; cursor:pointer;}
.main_navigation_menu li a.main_navigation_top_link span {float:left; font-weight:bold; display:block; padding:0 24px 0 12px; height:40px;}
.main_navigation_menu li a.main_navigation_top_link span.down {float:left; display:block; padding:0 24px 0 12px; height:40px; background:url(/gif/down.gif) no-repeat right top;}
.main_navigation_menu li a.main_navigation_top_link:hover {}
.main_navigation_menu li a.main_navigation_top_link:hover span {}
.main_navigation_menu li a.main_navigation_top_link:hover span.down {}

.main_navigation_menu li:hover > a.main_navigation_top_link {}
.main_navigation_menu li:hover > a.main_navigation_top_link span {}
.main_navigation_menu li:hover > a.main_navigation_top_link span.down {}

.main_navigation_menu table {border-collapse:collapse; width:0; height:0; position:absolute; top:0; left:0;}

.main_navigation_menu a:hover {visibility:visible;}
.main_navigation_menu li:hover {position:relative; z-index:200;}

.main_navigation_menu ul, 
.main_navigation_menu :hover ul ul, 
.main_navigation_menu :hover ul :hover ul ul,
.main_navigation_menu :hover ul :hover ul :hover ul ul,
.main_navigation_menu :hover ul :hover ul :hover ul :hover ul ul {position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

.main_navigation_menu :hover ul.main_navigation_sub {left:2px; top:40px; right:2px; background: #fff; padding:3px 0; border:1px solid #009900; white-space:nowrap; width:200px; height:auto;}
.main_navigation_menu :hover ul.main_navigation_sub li {display:block; height:20px; position:relative; float:left; width:250px;}
.main_navigation_menu :hover ul.main_navigation_sub li a {font-weight:normal; display:block; font-size: 0.75em; height:20px; width:192px; line-height:20px; text-indent:5px; text-decoration:none; border:3px solid #fff; border-width:0 0 0 3px;}

.main_navigation_menu :hover ul.main_navigation_sub li a.fly {}

.main_navigation_menu :hover ul.main_navigation_sub li a:hover {
  background:#42c555;
}

.main_navigation_menu :hover ul.main_navigation_sub li a.fly:hover { }
.main_navigation_menu :hover ul li:hover > a.fly { } 

.main_navigation_menu :hover ul :hover ul,
.main_navigation_menu :hover ul :hover ul :hover ul,
.main_navigation_menu :hover ul :hover ul :hover ul :hover ul,
.main_navigation_menu :hover ul :hover ul :hover ul :hover ul :hover ul {
  left:90px; 
  top:-4px; 
  background: #fff; 
  padding:3px 0; 
  border:1px solid 95d2ee; 
  white-space:nowrap; 
  width:93px; 
  z-index:200; 
  height:auto;
}