[% FOR item IN news_items %]
  <div class="ziyal_content">
    <h2>[% item.title | html %]</h2>
    <h4>[% item.timestr | html %]</h4>
    [% item.html %]
    <p><a href="/news/item/[% item.id | html %]/view">link</a></p>
    [% IF c.ad %]<center>[% c.ad.ad_wide %]</center>[% END %]
  </div>
[% END %]
