---

name: NX::Nebraska

Model::DB:
  connect_info:
    dsn: dbi:mysql:database=nebraska;host=localhost
    user: ''
    password: ''

#News:
#  working_dir: /home/nobody/news/nebraska/working
#  archive_dir: /home/nobody/news/nebraska/archive

